
/* reset default settings of all elements*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.container{
    
    max-width: 1400px;
    width: 100vw;
    margin: 0 auto;
    background-color: #ff6600;    
}

/* this where the navigation*/
nav{
    width: 100%;
    min-height: 5rem;
    background-color:#494850;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav > p{
    font-size: 2rem;
    color: white;
    font-family: 'Bebas Neue';
    letter-spacing: 1px;
    border: 1px solid white;
}

/* this where the main start*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box{
    min-width: 400;
    max-width: 600px;
    padding: 1em;
    margin: 1em;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
}


.box h1{
 color: #ff6600;
 line-height: 2rem;
 text-align: center;
}

.box p{
    color: #2d2d2d;
    line-height: 1.5rem;
}
.more{
    color: #ff6600;
}

@media screen and (max-width:600px) and (min-width:0px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    } 
   
    
}

