.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.product {
  width: 600px;
  min-height: 300px;
  max-height: 400px;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #7fd1ae;
  color: white;
}

.product__left {
  flex-basis: 60%;
  overflow: hidden;
}

.product__right {
  flex-basis: 40%;
  padding: 5px 10px;
}

.product-img {
  width: 100%;
  height: 100%;
}

.product-title {
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.product-description {
  margin-bottom: 5px;
}
.product-price {
  margin-bottom: 5px;
}
.product-price > p {
  font-family: "Montserrat", sans-serif;
}

.product-sizes {
  display: flex;
  gap: 5px;
}

.product-sizes > span {
  background-color: #e3e0f3;
  color: black;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
}

.product-btn {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.fade-10 {
  opacity: 90%;
}

.btn {
  background-color: #8083ff;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
/* popup */
.container {
  position: relative;
}

.purchase {
  width: 300px;
  height: max-content;
  color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.purchase > div > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #7fd1ae;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-family: "Open Sans", sans-serif;
}

#submit {
  width: min-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.message {
  width: max-content;
  text-align: center;
  height: max-content;

  padding: 10px 20px;
  color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  background-color: #8083ff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.message-content {
  font-family: "Open Sans", sans-serif;
}

/* sections */
#nike {
  padding-block: 60px;
}
#nBalance {
  padding-block: 60px;
}

#skechers {
  padding-block: 60px;
}
