.arrivals {
  display: flex;
  gap: 10px;
  overflow: hidden;
}
.arrival {
  min-width: 25%;
  width: 25%;
}

.arrival > img {
  width: 100%;
  height: 300px;
}

.arrivals__control {
  display: flex;
  justify-content: space-between;
}
