.slider {
  width: 100vw;
  height: 500px;
  max-width: 1400px;
  position: relative;
  overflow: hidden;
  padding-block: 30px;
}

.slide {
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding-inline: 10px;
  position: absolute;
  transition: all 0.5s;
  overflow: hidden;
}

.slide img {
  width: calc(100% - 20px);
  height: 200px;
  object-fit: contain;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 75%;
  left: 2%;
}

.btn-next {
  top: 75%;
  right: 2%;
}
